@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--enterprise-bg);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 40px 20px;
}
